
.navWrapper{
  display: flex;
  background-color: #211a1e;
  height: 15vh;
  align-items: center;
  justify-content: space-evenly;
}

.nav-button{
 
  width: 20%;
  height: 100%;
  border-radius: 15%;
  cursor: pointer;
  border: none;
  background-color: #FDFD96;
  opacity: 0.8;
  transition: 0.3s;
}

.nav-button:hover{
  opacity: 1;
}

.nav-input{
  width: 70%;
  height: 100%;
  border-radius: 15%;
  border: none;
}

.logo{
  height: 50px;
}


.logo:hover{
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}